
.user-install-label {
    background-color: alpha(@blue_2, .50);
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 999px;
}

.system-install-label {
    background-color: alpha(@green_2, .50);
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 999px;
}