
.user-install-label {
    background-color: alpha(@blue_2, .50);
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 999px;
    font-size: 0.9rem;
}

.system-install-label {
    background-color: alpha(@green_2, .50);
    padding: 2px;
    padding-right: 6px;
    padding-left: 5px;
    border-radius: 999px;
    font-size: 0.9rem;

}